In [1]:
from __future__ import print_function
import sys
from operator import add
from pyspark.sql import SparkSession

# Create a new Spark Session

In [2]:
spark = SparkSession\
.builder\
.appName("Assignment_2")\
.getOrCreate()

# Specify input path for the data file

In [3]:
input_path = "/Users/kalyani/Documents/Study/Big_Data/ratings.txt"

# Create RDD of the given data

In [4]:
records = spark.sparkContext.textFile(input_path)

In [7]:
records.collect()

['U1,M4,4',
 'U1,M4,3',
 'U1,M2,5',
 'U1,M2,0',
 'U1,M3,2',
 'U2,M4,3',
 'U2,M4,4',
 'U2,M4,5',
 'U3,M1,1',
 'U3,M5,6',
 'U3,M4,4',
 'U3,M4,5',
 'U4,M2,3',
 'U4,M1,1',
 'U4,M1,4',
 'U4,M1,5',
 'U5,M1,3',
 'U5,M1,1',
 'U6,M1,3',
 'U6,M9,4']

# Manipulate the data to get it in required format

In [5]:
tokens = records.map(lambda x: x.split())

In [6]:
tokens.collect()

[['U1,M4,4'],
 ['U1,M4,3'],
 ['U1,M2,5'],
 ['U1,M2,0'],
 ['U1,M3,2'],
 ['U2,M4,3'],
 ['U2,M4,4'],
 ['U2,M4,5'],
 ['U3,M1,1'],
 ['U3,M5,6'],
 ['U3,M4,4'],
 ['U3,M4,5'],
 ['U4,M2,3'],
 ['U4,M1,1'],
 ['U4,M1,4'],
 ['U4,M1,5'],
 ['U5,M1,3'],
 ['U5,M1,1'],
 ['U6,M1,3'],
 ['U6,M9,4']]

In [16]:
t = records.flatMap(lambda x: x.split(','))

In [18]:
t.collect()

['U1',
 'M4',
 '4',
 'U1',
 'M4',
 '3',
 'U1',
 'M2',
 '5',
 'U1',
 'M2',
 '0',
 'U1',
 'M3',
 '2',
 'U2',
 'M4',
 '3',
 'U2',
 'M4',
 '4',
 'U2',
 'M4',
 '5',
 'U3',
 'M1',
 '1',
 'U3',
 'M5',
 '6',
 'U3',
 'M4',
 '4',
 'U3',
 'M4',
 '5',
 'U4',
 'M2',
 '3',
 'U4',
 'M1',
 '1',
 'U4',
 'M1',
 '4',
 'U4',
 'M1',
 '5',
 'U5',
 'M1',
 '3',
 'U5',
 'M1',
 '1',
 'U6',
 'M1',
 '3',
 'U6',
 'M9',
 '4']

In [10]:
tokens2 = records.map(lambda x: x.split(","))
tokens2.collect()

[['U1', 'M4', '4'],
 ['U1', 'M4', '3'],
 ['U1', 'M2', '5'],
 ['U1', 'M2', '0'],
 ['U1', 'M3', '2'],
 ['U2', 'M4', '3'],
 ['U2', 'M4', '4'],
 ['U2', 'M4', '5'],
 ['U3', 'M1', '1'],
 ['U3', 'M5', '6'],
 ['U3', 'M4', '4'],
 ['U3', 'M4', '5'],
 ['U4', 'M2', '3'],
 ['U4', 'M1', '1'],
 ['U4', 'M1', '4'],
 ['U4', 'M1', '5'],
 ['U5', 'M1', '3'],
 ['U5', 'M1', '1'],
 ['U6', 'M1', '3'],
 ['U6', 'M9', '4']]

In [20]:
#tokens2 = tokens2.map( lambda x: int(x[2]))
#tokens2.collect()
filtered = tokens2.filter(lambda x:  int(x[2]) <= 5)
filtered.collect()
#I filtered.collect()

[['U1', 'M4', '4'],
 ['U1', 'M4', '3'],
 ['U1', 'M2', '5'],
 ['U1', 'M2', '0'],
 ['U1', 'M3', '2'],
 ['U2', 'M4', '3'],
 ['U2', 'M4', '4'],
 ['U2', 'M4', '5'],
 ['U3', 'M1', '1'],
 ['U3', 'M4', '4'],
 ['U3', 'M4', '5'],
 ['U4', 'M2', '3'],
 ['U4', 'M1', '1'],
 ['U4', 'M1', '4'],
 ['U4', 'M1', '5'],
 ['U5', 'M1', '3'],
 ['U5', 'M1', '1'],
 ['U6', 'M1', '3'],
 ['U6', 'M9', '4']]

# Filter RDD to remove invalid ratings

In [21]:
t = tokens2.filter(lambda x: x[2]  in  ['1','2','3','4','5'])
t.collect()

[['U1', 'M4', '4'],
 ['U1', 'M4', '3'],
 ['U1', 'M2', '5'],
 ['U1', 'M3', '2'],
 ['U2', 'M4', '3'],
 ['U2', 'M4', '4'],
 ['U2', 'M4', '5'],
 ['U3', 'M1', '1'],
 ['U3', 'M4', '4'],
 ['U3', 'M4', '5'],
 ['U4', 'M2', '3'],
 ['U4', 'M1', '1'],
 ['U4', 'M1', '4'],
 ['U4', 'M1', '5'],
 ['U5', 'M1', '3'],
 ['U5', 'M1', '1'],
 ['U6', 'M1', '3'],
 ['U6', 'M9', '4']]

# Number of records before filter

In [22]:
tokens2.count()

20

# Number of records after filter

In [23]:
t.count()

18

# Perform actions/transformations on RDD to get the desired output

In [24]:
t2 = t.map(lambda x: (x[1], x[0]))
t2.collect()

[('M4', 'U1'),
 ('M4', 'U1'),
 ('M2', 'U1'),
 ('M3', 'U1'),
 ('M4', 'U2'),
 ('M4', 'U2'),
 ('M4', 'U2'),
 ('M1', 'U3'),
 ('M4', 'U3'),
 ('M4', 'U3'),
 ('M2', 'U4'),
 ('M1', 'U4'),
 ('M1', 'U4'),
 ('M1', 'U4'),
 ('M1', 'U5'),
 ('M1', 'U5'),
 ('M1', 'U6'),
 ('M9', 'U6')]

In [25]:
t3 = t2.groupByKey()
t3.collect()

[('M4', <pyspark.resultiterable.ResultIterable at 0x10d7a5278>),
 ('M2', <pyspark.resultiterable.ResultIterable at 0x10d7a52b0>),
 ('M3', <pyspark.resultiterable.ResultIterable at 0x10d7a5978>),
 ('M1', <pyspark.resultiterable.ResultIterable at 0x10d7a55f8>),
 ('M9', <pyspark.resultiterable.ResultIterable at 0x10d7a5710>)]

In [26]:
t4 = t3.map(lambda x: (x[0], list(x[1])))
t4.collect()

[('M4', ['U1', 'U1', 'U2', 'U2', 'U2', 'U3', 'U3']),
 ('M2', ['U1', 'U4']),
 ('M3', ['U1']),
 ('M1', ['U3', 'U4', 'U4', 'U4', 'U5', 'U5', 'U6']),
 ('M9', ['U6'])]

# Create a new function to calculate the unique number of raters

In [27]:
def unique_f(x):
    unique_set = set() 
    for z in x:
        unique_set.add(z)
    return len(unique_set)

In [28]:
t5 = t4.map(lambda x: (x[0], len(x[1]), unique_f(x[1])))
t5.collect()

[('M4', 7, 3), ('M2', 2, 2), ('M3', 1, 1), ('M1', 7, 4), ('M9', 1, 1)]

# Filter RDD for total number of raters less than 2

In [29]:
t6 = t5.filter(lambda x: x[2] >= 2)
t6.collect()

[('M4', 7, 3), ('M2', 2, 2), ('M1', 7, 4)]